{% extends "master.html" %}

{% block title %}
  DND | {% if game.happening %}Yes{% else %}No{% endif %}
{% endblock %}

{% block body %}
  <div class="jumbotron {% if game.happening %}game-yes{% else %}game-no{% endif %}">
    <h1 class='game-status'>{% if game.happening %}Yes{% else %}No{% endif %}</h1>
    {% if game.happening %}
      <h2>{{game.name}} will be happening on <span class='date'></span> at <span class='time'></span></h2>
      <p>The host {{game.host.username}} last changed this on <span class='updated'></span></p>

    {% else %}
      <h2>{{game.name}} will not be happening this week</h2>
      <p>Blame {{game.host.username}} (or more likely someone in your game).  This was last changd on <span class='updated'></span></p>
    {% endif %}

{% endblock %}



{% block js %}
  var utc = moment.utc("{{game.time|date:"H:i"}}","HH:mm")
  var time = moment(utc).local();
  var day = moment().day("{{game.get_dow_display}}")
  var today = moment().hour(23).minute(59);
  if (day.isBefore(today))
  {
    day.add(7,'days');
  }

  $(".date").text(day.format("dddd, MMMM Do"));
  $(".time").text(time.format("h:mm a"));

  var update = moment.utc("{{game.updated_at|date:"c"}}");
  var update_loc = moment(update).local();

  $(".updated").text(update_loc.format("M/D/YYYY h:mm:ss a"));


{% endblock %}

<!--
<h1>{{game.name}}</h1>
<h2>{{game.host.username}}</h2>
{% if game.happening %}
  <p>The game is happening this week!</p>
{% else %}
  <p>It's not happening this week :(</p>
{% endif %}
</div>
-->
